:root {
    --light-color: #0089b7;
    --dark-color: #003d62;
    --darker-color: #003251;
    --secondary-color: #fff700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body,
html {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    line-height: 1.4;
    scroll-behavior: smooth;
    color: white;
}

body {
    font-size: 2rem;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 1rem 2rem;
}

header {
    background-color: var(--light-color);
    position: sticky;
    top: 0;
    z-index: 50;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

a {
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
}

ul {
    list-style: none;
    gap: 1rem;
}

nav li {

    border-bottom: 0.4rem solid transparent;
    transition: 0.2s ease-in-out;
}

nav li:hover {
    border-bottom: 0.4rem solid var(--secondary-color);
    transition: 0.2s ease-in-out;
}

#hero {
    background-color: var(--dark-color);
    padding: 4rem 0;
    border-bottom: 4px solid var(--light-color);
}

#hero .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hi_text {
    font-size: 6rem;
    font-weight: bold;
    color: var(--secondary-color);
}

.name_text {
    font-size: 5rem;
    font-weight: bold;
}

.hero-content {
    display: grid;
    place-items: center;
}

.hero-content h2 {
    font-size: 4rem;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid orange;
    margin: 0 auto;
    animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 90%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: orange;
    }
}

#project {
    background-color: var(--darker-color);
}

#project h2 {
    font-size: 6rem;
    text-align: center;
    padding: 2rem 0;
}

.project_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 32px;
}

.grid_item {

    display: grid;
    place-items: center;
}

.card {
    width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
}

.card:hover {
    transition: 0.5s ease-in-out;
    transform: scale(1.05);
}

.card {
    transition: 0.2ss ease-in-out;
}

.card:hover img {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    opacity: 0.7;
}

.card-content {
    padding: 2rem;
    position: relative;
    top: -6.5rem;
    margin-bottom: -6.5rem;
    transition: 0.5s ease-in-out;
    transform: translateY(100px);
}

.card:hover .card-content {
    background: white;
    color: var(--dark-color);
    transform: translateY(0px);
}

.card-content {
    text-align: center;
}

#contact {
    background-color: var(--dark-color);
}

#contact h2 {
    font-size: 6rem;
    text-align: center;

    margin: 2rem 0;
}

#contact .container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    gap: 4rem;
    align-items: center;
}

.top_contact {
    display: flex;
    gap: 2rem;
    margin: 0 auto;
}

.contact_way {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.contact_way i {
    font-size: 3rem;
}

.contact_way h3 {
    font-size: 3rem;
}

.bottom_contact {
    display: flex;
    gap: 2rem;
}

footer {
    background-color: var(--darker-color);
    text-align: center;
    padding: 1rem;
}